<div id="mail" class="page-layout carded fullwidth single-scroll" layout="row">

    <!-- TOP BACKGROUND -->
    <div class="top-bg md-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center" layout="column" flex>

        <!-- CONTENT HEADER -->
        <div class="header" layout="row" layout-align="start center">

            <div class="search-wrapper md-whiteframe-4dp" layout="row" layout-align="start center" flex>
                <div class="search" flex layout="row" layout-align="start center">
                    <md-icon md-font-icon="icon-magnify" class="icon s24"></md-icon>
                    <input flex ng-model="vm.query.filter" type="text" placeholder="Search for Gadget Code" >
                </div>
            </div>

        </div>
        <!-- / CONTENT HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT TOOLBAR -->
            <div class="toolbar" layout="row" layout-align="space-between center">
                <div layout="row" layout-align="start center"><span>GADGET LISTS</span></div>
                <div layout="row" layout-align="start center"><md-button class="md-raised md-teal-500-bg white-fg pull-left"  aria-label="Add New gadget" ng-click="vm.OpenAddDialog($event)">ADD NEW GADGET</md-button>
                </div>
            </div>
            <!-- / CONTENT TOOLBAR -->

            <!-- CONTENT -->
            <md-content class="content" ms-scroll>

               <md-table-container>
                  <table md-table md-progress="promise">
                    <thead md-head md-order="vm.query.order" md-on-reorder="vm.getgadgets">
                      <tr md-row>
                        <th md-column md-order-by="order"><span>Code</span></th>
                        <th md-column><span>Name</span></th>
                        <th md-column><span>Model</span></th>
                        <th md-column><span>Type</span></th>
                        <th md-cplumn><span>Status (click to change status)</span></th>
                        <th md-column><span>Remarks</span></th>
                      </tr>
                    </thead>
                    <tbody md-body>
                      <tr md-row ng-repeat="gadget in vm.gadgets.data">
                        <td md-cell>
                            <!-- editable username (text with validation) -->
                            <a href="#"  editable-textarea="gadget.gadget_code" e-aria-label="Code" e-name="gadget_code" onbeforesave="vm.checkName($data,'gadget_code')" onaftersave="vm.save('gadget_code',$data, gadget.gadget_id)" e-rows="3" e-cols="40" e-name="gadget_code">
                              {{ gadget.gadget_code || 'empty' }}
                            </a>
                        </td>
                        <td md-cell>
                            <!-- editable username (text with validation) -->
                            <a href="#" editable-textarea="gadget.gadget_name" e-aria-label="Name" e-rows="3" e-cols="40" onbeforesave="vm.checkData($data)" onaftersave="vm.save('gadget_name',$data, gadget.gadget_id)">
                              {{ gadget.gadget_name || 'empty' }}
                            </a>
                        </td>
                        <td md-cell>
                            <!-- editable username (text with validation) -->
                            <a href="#" editable-textarea="gadget.gadget_model" e-aria-label="Model" e-rows="3" e-cols="40" onbeforesave="vm.checkName($data,'gadget_model')" onaftersave="vm.save('gadget_model',$data, gadget.gadget_id)">
                              {{ gadget.gadget_model|| 'empty' }}
                            </a>
                        </td>
                        <td md-cell>
                            <!-- editable username (text with validation) -->
                            <a href="#" editable-textarea="gadget.gadget_type" e-aria-label="Type" e-rows="3" e-cols="40" onbeforesave="vm.checkData($data)" onaftersave="vm.save('gadget_type',$data, gadget.gadget_id)">
                              {{ gadget.gadget_type || 'empty' }}
                            </a>
                        </td>
                        <td md-cell>
                            <md-button class="md-raised md-accent" aria-label="In Use" ng-click="vm.changeStatus(gadget.gadget_id,2)" ng-if="gadget.gadget_status == 1" >In Use</md-button>
                            <md-button class="md-raised md-warn" aria-label="Not In Use" ng-click="vm.changeStatus(gadget.gadget_id,1)" ng-if="gadget.gadget_status == 2">Not In Use</md-button>
                        </td>
                        <td md-cell>
                            <!-- editable username (text with validation) -->
                            <a href="#" editable-textarea="gadget.remarks" e-aria-label="Remarks" e-rows="3" e-cols="40" onaftersave="vm.save('remarks',$data, gadget.gadget_id)">
                              {{ gadget.remarks || 'empty' }}
                            </a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </md-table-container>
                
                <md-table-pagination md-limit="vm.query.limit" md-limit-options="[5, 10, 20 , 50 , 100]" md-page="vm.query.page" md-total="{{vm.gadgets.count}}" md-on-paginate="vm.getgadgets" md-page-select></md-table-pagination>

            </md-content>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>