<div id="mail" class="page-layout carded fullwidth single-scroll" layout="row">

    <!-- TOP BACKGROUND -->
    <div class="top-bg md-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center" layout="column" flex>

        <!-- CONTENT HEADER -->
        <div class="header" layout="row" layout-align="start center">

            <div class="search-wrapper md-whiteframe-4dp" layout="row" layout-align="start center" flex>
                <div class="search" flex layout="row" layout-align="start center">
                    <md-icon md-font-icon="icon-magnify" class="icon s24"></md-icon>
                    <input flex ng-model="vm.query.filter" type="text" placeholder="Search for Drivers" >
                </div>
            </div>

        </div>
        <!-- / CONTENT HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT TOOLBAR -->
            <div class="toolbar" layout="row" layout-align="space-between center">
                <div layout="row" layout-align="start center"><span>Drivers/Paleros</span></div>
                <div layout="row" layout-align="start center"><md-button class="md-raised md-teal-500-bg white-fg pull-left"  aria-label="Assign New" ng-click="vm.OpenAddDialog($event)">ASSIGN NEW DRIVERS To PALEROS</md-button>
                </div>
            </div>
            <!-- / CONTENT TOOLBAR -->

            <!-- CONTENT -->
            <md-content class="content" ms-scroll>

               <md-table-container>
                  <table md-table md-progress="promise">
                    <thead md-head md-order="vm.query.order" md-on-reorder="vm.getLunchBoxes">
                      <tr md-row>
                        <th md-column md-order-by="order"><span>Employee/Driver</span></th>
                        <th md-column ><span>Employee/Paleros</span></th>
                        <th md-column><span>Action</span></th>
                      </tr>
                    </thead>
                    <tbody md-body>
                      <tr md-row ng-repeat="r in vm.drivers.data">
                        <td md-cell>
                            {{r.employee_no}} - {{r.lastname}}, {{r.firstname}} {{r.middlename}}
                        </td>
                        <td md-cell>
                            <ul>
                                <li ng-repeat="p in r.paleros">{{p.employee_no}} - {{p.lastname}}, {{p.firstname}} {{p.middlename}}</li>
                            </ul>
                        </td>
                        <td md-cell>
                            <md-button class="md-raised md-primary" ui-sref="app.drivers_paleros-details({id:r.driver_id,empNo:r.employee_no,empName:r.lastname+', '+r.firstname+' '+r.middlename})" aria-label="EDIT" >EDIT</md-button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </md-table-container>
                
                <md-table-pagination md-limit="vm.query.limit" md-limit-options="[5, 10, 20 , 50 , 100]" md-page="vm.query.page" md-total="{{vm.lunchboxes.count}}" md-on-paginate="vm.getLunchBoxes" md-page-select></md-table-pagination>

            </md-content>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>