<div id="mail" class="page-layout carded fullwidth single-scroll" layout="row">

    <!-- TOP BACKGROUND -->
    <div class="top-bg md-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center" layout="column" flex>

        <!-- CONTENT HEADER -->
        <div class="header" layout="row" layout-align="start center">

            <div class="search-wrapper md-whiteframe-4dp" layout="row" layout-align="start center" flex>
                <div class="search" flex layout="row" layout-align="start center">
                    <md-icon md-font-icon="icon-magnify" class="icon s24"></md-icon>
                    <input flex ng-model="vm.query.filter" type="text" placeholder="Search for Trip Ticket Date" >
                </div>
            </div>

        </div>
        <!-- / CONTENT HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT TOOLBAR -->
            <div class="toolbar" layout="row" layout-align="space-between center">
                <div layout="row" layout-align="start center"><span>TRIP TICKET LISTS</span></div>
                <div layout="row" layout-align="start center"><md-button class="md-raised md-teal-500-bg white-fg pull-left"  aria-label="Add New Trip Ticket" ng-click="vm.OpenAddDialog($event)">ADD NEW TRIP TICKET</md-button>
                </div>
            </div>
            <!-- / CONTENT TOOLBAR -->

            <!-- CONTENT -->
            <md-content class="content" ms-scroll>

               <md-table-container>
                  <table md-table md-progress="promise">
                    <thead md-head md-order="vm.query.order" md-on-reorder="vm.getdispatchings">
                      <tr md-row>
                        <th md-column md-order-by="order"><span>Trip Ticket Code</span></th>
                         <th md-column md-order-by="order"><span>Dispatch Date</span></th>
                          <th md-column md-order-by="order"><span>Dispatch Time</span></th>

                        <th md-column><span>Action</span></th>
                      </tr>
                    </thead>
                    <tbody md-body>
                      <tr md-row ng-repeat="dispatching in vm.dispatchings.data track by dispatching.trip_ticket_id">
                        <td md-cell>
                            <span aria-label="Edit Form" editable-text="dispatching.trip_ticket_code" e-form="textBtnForm" onbeforesave="vm.updateData($data,dispatching.trip_ticket_id)">
                            {{ dispatching.trip_ticket_code || 'empty' }}
                          </span>
                        </td>
                        <td md-cell>
                            <span aria-label="Edit Form" editable-text="dispatching.dispatch_date" e-form="textBtnForm" onbeforesave="vm.updateData($data,dispatching.trip_ticket_id)">
                            {{ dispatching.dispatch_date || 'empty' }}
                          </span>
                        </td>
                        <td md-cell>
                            <span aria-label="Edit Form" editable-text="dispatching.dispatch_time" e-form="textBtnForm" onbeforesave="vm.updateData($data,dispatching.trip_ticket_id)">
                            {{ dispatching.dispatch_time || 'empty' }}
                          </span>
                        </td>
                          <td md-cell>
                            <md-button class="md-raised md-accent"  aria-label="View Details" ui-sref='app.dispatching-details({id:dispatching.trip_ticket_id})'>View/Update</md-button>
                      
                            <div  layout="row" layout-align="start center"><md-button class="md-raised md-teal-500-bg white-fg pull-left"  aria-label="Print Trip Ticket" ng-click="vm.goToPrint(dispatching.trip_ticket_id)">PRINT</md-button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </md-table-container>
                
                <md-table-pagination md-limit="vm.query.limit" md-limit-options="[5, 10, 20 , 50 , 100]" md-page="vm.query.page" md-total="{{vm.dispatchings.count}}" md-on-paginate="vm.getdispatchings" md-page-select></md-table-pagination>

            </md-content>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>