
<md-dialog add-item-dialog class="event-form-dialog">
  <md-dialog-content class="md-dialog-content">
    
    <h2 class="md-title">Add Equipment</h2>
  
  
    <form name="itemForm" novalidate>
        <div layout="row">
        <md-input-container flex>
          <label>Trip Ticket Code</label>
          <input type="text" name="trip_ticket_code" ng-model="ddcvm.data.trip_ticket_code" required>
          <div ng-messages="itemForm.trip_ticket_code.$error" ng-show="itemForm.trip_ticket_code.$touched" role="alert">
              <div ng-message="required">
                <span>This is required.</span>
              </div>
              <div ng-message="unique">
                <span>This value is not available</span>
              </div>
          </div>
        </md-input-container>
      </div>
        <div layout="row">
        <md-input-container flex>
          <label>Time Dispatch</label>
          <input type="time" name="dispatch_time" ng-model="ddcvm.data.dispatch_time" required>
          <div ng-messages="itemForm.dispatch_time.$error" ng-show="itemForm.dispatch_time.$touched" role="alert">
              <div ng-message="required">
                <span>This is required.</span>
              </div>
              <div ng-message="unique">
                <span>This value is not available</span>
              </div>
          </div>
        </md-input-container>
      </div>
        <div layout="row">
        <md-input-container flex>
            <label>Date</label>
            <md-datepicker name="dispatch_date" ng-model="ddcvm.data.dispatch_date" placeholder="Date" required></md-datepicker>
            <div class="validation-messages" ng-messages="itemForm.dispatch_date.$error" ng-show="itemForm.dispatch_date.$touched" role="alert">
              <div ng-message="valid">The entered value is not a date!</div>
              <div ng-message="required">This date is required!</div>
            </div>
        </md-input-container>
      </div>
    
      <div layout="row">
        <md-input-container flex>
          <label>Shift</label>
           <md-select name="shift_id" placeholder="Select Shift"ng-model="ddcvm.data.shift_id" required>
                <md-option ng-value="shift.shift_id" ng-repeat="shift in ddcvm.shifts">
                   {{shift.shift_name}}
            </md-select>
      
           <div ng-messages="itemForm.shift_id.$error" ng-show="itemForm.shift_id.$touched" role="alert">
              <div ng-message="required">
                <span>This is required.</span>
              </div>
          </div>
        </md-input-container>
      </div>
        <div layout="row">
        <md-input-container flex>
          <label>Route</label>
          <md-select name="geofence_id" placeholder="Select Route First"ng-model="ddcvm.data.geofence_id" required>
                <md-option ng-value="geofence.geofence_id" ng-repeat="geofence in ddcvm.geofences">
                  {{geofence.route_code}} - {{geofence.brgy}}/{{geofence.location}}/{{geofence.sector}}
                </md-option>
            </md-select>
      
           <div ng-messages="itemForm.geofence_id.$error" ng-show="itemForm.geofence_id.$touched" role="alert">
              <div ng-message="required">
                <span>This is required.</span>
              </div>
          </div>
        </md-input-container>
      </div>
          <div layout="row">
        <md-input-container flex>
          <label>Equipment (Truck No.)</label>
        <md-select name="equipment_id" placeholder="Equipments" ng-model="ddcvm.data.equipment_id"  required>
                <md-option value="{{equipment.equipment_id}}" ng-repeat="equipment in ddcvm.equipments">
                    {{equipment.equipment_code}} - {{equipment.equipment_name}} 
                </md-option>
            </md-select>
            <div ng-messages="itemForm.equipment_id.$error" ng-show="itemForm.equipment_id.$touched" role="alert">
                <div ng-message="required">
                  <span>This is required.</span>
                </div>
            </div>
        </md-input-container>
    
      </div>
       <div layout="row">
        <md-input-container flex>
          <label>Lunchbox</label>
        <md-select name="lunch_box_id" placeholder="Select Lunch Box" ng-model="ddcvm.data.lunch_box_id"  required>
                <md-option value="{{lunchbox.lunch_box_id}}" ng-repeat="lunchbox in ddcvm.lunchboxes">
                    {{lunchbox.lunch_box_code}}
                </md-option>
            </md-select>
            <div ng-messages="itemForm.lunch_box_id.$error" ng-show="itemForm.lunch_box_id.$touched" role="alert">
                <div ng-message="required">
                  <span>This is required.</span>
                </div>
            </div>
        </md-input-container>
    
      </div>
        
         <div layout="row">
        <md-input-container flex>
          <label>Driver</label>
     <md-select name="employee_id" placeholder="Driver" ng-model="ddcvm.data.employee_id"  required>
                <md-option value="{{employee.employee_id}}" ng-repeat="employee in ddcvm.employees">
            
                     {{employee.employee_no}} - {{employee.firstname}} -  {{employee.lastname}}
                </md-option>
            </md-select>
            <div ng-messages="itemForm.employee_id.$error" ng-show="itemForm.employee_id.$touched" role="alert">
                <div ng-message="required">
                  <span>This is required.</span>
                </div>
            </div>
        </md-input-container>
      </div>
     
    </form>
    
  </md-dialog-content>

  <md-dialog-actions>
    <md-button class="md-primary" ng-click="ddcvm.save()" ng-disabled="itemForm.$invalid">Add Trip Ticket</md-button>
    <md-button class="md-primary" ng-click="ddcvm.closeDialog()">Cancel</md-button>
  </md-dialog-actions>
</md-dialog>