
<md-dialog add-item-dialog class="event-form-dialog">
  <md-dialog-content class="md-dialog-content">
    
    <h2 class="md-title">Add Gadget</h2>
  
  
  
    <form name="itemForm" novalidate>
      <div layout="row">
        <md-input-container flex>
          <label>Gadget Code</label>
          <input type="text" name="gadget_code" ng-model="ddcvm.data.gadget_code" ng-model-options="{debounce:500}" unique-validation url-path="{{ddcvm.url_path}}" key-id="0" key-field="gadget_code" key-table="gadget" required>
          <div ng-messages="itemForm.gadget_code.$error" ng-show="itemForm.gadget_code.$touched" role="alert">
              <div ng-message="required">
                <span>This is required.</span>
              </div>
              <div ng-message="unique">
                <span>This data is not available</span>
              </div>
          </div>
        </md-input-container>
      </div>
      <div layout="row">
        <md-input-container flex>
          <label>Gadget Name</label>
          <input type="text" name="gadget_name" ng-model="ddcvm.data.gadget_name" required>
          <div ng-messages="itemForm.gadget_name.$error" ng-show="itemForm.gadget_name.$touched" role="alert">
              <div ng-message="required">
                <span>This is required.</span>
              </div>
          </div>
        </md-input-container>
      </div>
          <div layout="row">
        <md-input-container flex>
          <label>Gadget Model</label>
          <input type="text" name="gadget_model" ng-model="ddcvm.data.gadget_model" ng-model-options="{debounce:500}" unique-validation url-path="{{ddcvm.url_path}}" key-id="0" key-field="gadget_model" key-table="gadget" required>
          <div ng-messages="itemForm.gadget_model.$error" ng-show="itemForm.gadget_model.$touched" role="alert">
              <div ng-message="required">
                <span>This is required.</span>
              </div>
              <div ng-message="unique">
                <span>This data is not available</span>
              </div>
          </div>
        </md-input-container>
      </div>
          <div layout="row">
        <md-input-container flex>
          <label>Gadget Type</label>
          <input type="text" name="gadget_type" ng-model="ddcvm.data.gadget_type" required>
          <div ng-messages="itemForm.gadget_type.$error" ng-show="itemForm.gadget_type.$touched" role="alert">
              <div ng-message="required">
                <span>This is required.</span>
              </div>
          </div>
        </md-input-container>
      </div>
    </form>
    
    
  </md-dialog-content>

  <md-dialog-actions>
    <md-button class="md-accent md-raised" ng-click="ddcvm.save()" ng-disabled="itemForm.$invalid">Add Gadget</md-button>
    <md-button class="md-warn md-raised" ng-click="ddcvm.closeDialog()">Cancel</md-button>
  </md-dialog-actions>
</md-dialog>