
<md-dialog add-item-dialog class="event-form-dialog">
  <md-dialog-content class="md-dialog-content">
    
    <h2 class="md-title">Save Gadget</h2>
  
  
    <form name="itemForm" novalidate>
      <div layout="row" class="input-row">
        <md-input-container flex>
          <label>Gadgets</label>
          <md-select ng-model="ddcvm.data.gadget_id" required>
              <md-option ng-value="gadget.gadget_id" ng-repeat="gadget in ddcvm.gadgets">{{gadget.gadget_code}} - {{gadget.gadget_name}}</md-option>
          </md-select>
          <div ng-messages="itemForm.gadget_id.$error" ng-show="itemForm.gadget_id.$touched" role="alert">
              <div ng-message="required">
                <span>This is required.</span>
              </div>
          </div>
        </md-input-container>
      </div>
    </form>
    
  </md-dialog-content>

  <md-dialog-actions>
    <md-button class="md-raised md-primary" ng-click="ddcvm.save()" ng-disabled="itemForm.$invalid">Save Changes</md-button>
    <md-button class="md-raised md-warn" ng-click="ddcvm.closeDialog()">Cancel</md-button>
  </md-dialog-actions>
</md-dialog>