



<md-dialog add-item-dialog class="event-form-dialog">
  <md-dialog-content class="md-dialog-content">
    
    <h2 class="md-title">Upload NTE</h2>
  
  
    <form name="nteForm" novalidate>
					<div layout="row" flex>
                    <input type="file" nv-file-select="" uploader="ntecvm.uploader" />
					</div>
                   
                   
                        <div ng-repeat="item in ntecvm.uploader.queue">
                            <div layout="row">Size: {{ item.file.size/1024/1024|number:2 }} MB</div>
                            <!--<div ng-show="uploader.isHTML5">-->
                                <div layout="row" flex>
                                Progress: {{ item.progress }}
                                <div class="item-progress-box" layout="row" flex>
                                    <md-progress-linear md-mode="determinate" value="{{item.progress}}"></md-progress-linear>
                                    <div class="item-progress" ng-style="{ 'width': item.progress + '%' }"></div>
                                </div>
                            </div>
                            <div layout="row" flex>
								<md-button class="md-raised md-primary" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess || nteForm.$invalid" class="md-raised md-teal-500-bg white-fg ">Upload</md-button>
                                <md-button ng-click="item.cancel()" ng-disabled="!item.isUploading" class="md-raised md-primary"  aria-label="Cancel">CANCEL</md-button>
                                <md-button ng-click="item.remove()" class="md-raised md-warn"   aria-label="Remove">REMOVE</md-button>
                            </div>
                        </div>
                   

             

    
    </form>
  </md-dialog-content>

  <md-dialog-actions>
    
    <md-button class="md-raised md-warn" ng-click="ntecvm.closeDialog()">Cancel</md-button>
  </md-dialog-actions>
 
</md-dialog>