
<div id="mail" class="page-layout carded fullwidth single-scroll" layout="row">

    <!-- TOP BACKGROUND -->
    <div class="top-bg md-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center" layout="column" flex>

       <!-- CONTENT HEADER -->
        <div class="header" layout="row" layout-align="start center" >

            <div class="search-wrapper md-whiteframe-4dp" layout="row" layout-align="start center" flex>
                <div class="search" flex layout="row" layout-align="start center">
                    <md-icon md-font-icon="icon-magnify" class="icon s24"></md-icon>
                    <input flex ng-model="vm.query.filter" type="text" placeholder="Search for Trip Ticket Date" >
                </div>
            </div>

        </div>
        <!-- / CONTENT HEADER -->
        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT TOOLBAR -->
            <div class="toolbar" layout="row" layout-align="space-between center">
                <div layout="row" layout-align="start center"><span>TRIP TICKET DETAILS</span></div>
             
            </div>
            <!-- / CONTENT TOOLBAR -->

            <!-- CONTENT -->
            <md-content class="content" ms-scroll>

               <md-table-container>
                          <div class="content">
            <form name="personalForm" novalidate>
                <div layout="row">
                   <md-input-container flex="66">
                       <label>Trip Ticket Code</label>
                       <input type="text" name="trip_ticket_code" ng-model="vm.info.trip_ticket_code" disabled>
                   </md-input-container>
               </div>
               <div layout="row">
                   <md-input-container flex>
                       <label>Time Dispatch</label>
                       <input type="text" name="dispatch_time" ng-model="vm.info.dispatch_time" disabled>
                       <div ng-messages="personalForm.dispatch_time.$error" ng-show="personalForm.dispatch_time.$touched" role="alert">
                          <div ng-message="required">
                            <span>This is required.</span>
                          </div>
                      </div>
                   </md-input-container>
                 </div>
                 <div layout="row">
               <md-input-container flex>
            <label>Date</label>
                <md-datepicker name="dispatch_date" ng-model="vm.info.dispatch_date" placeholder="Date" disabled></md-datepicker>
                <div class="validation-messages" ng-messages="itemForm.dispatch_date.$error" ng-show="itemForm.dispatch_date.$touched" role="alert">
                  <div ng-message="valid">The entered value is not a date!</div>
                  <div ng-message="required">This date is required!</div>
                </div>
            </md-input-container>
             </div>
              <div layout="row">
               <md-input-container flex>
          <label>Shift</label>
         
           <md-select name="shift_id" placeholder="Select Shift"ng-model="vm.info.shift_id" required>
           
                <md-option ng-value="shift.shift_id" ng-repeat="shift in vm.shifts">
                   {{shift.shift_name}}
            </md-select>
      
           <div ng-messages="itemForm.shift_id.$error" ng-show="itemForm.shift_id.$touched" role="alert">
              <div ng-message="required">
                <span>This is required.</span>
              </div>
          </div>
        </md-input-container>
               </div>
              <div layout="row">
        <md-input-container flex>
          <label>Route</label>
          <md-select name="geofence_id" placeholder="Select Route First"ng-model="vm.info.geofence_id" required>
                <md-option ng-value="geofence.geofence_id" ng-repeat="geofence in vm.geofences">
                   {{geofence.brgy}} - {{geofence.location}} 
                </md-option>
            </md-select>
      
           <div ng-messages="itemForm.geofence_id.$error" ng-show="itemForm.geofence_id.$touched" role="alert">
              <div ng-message="required">
                <span>This is required.</span>
              </div>
          </div>
        </md-input-container>
      </div>
      <div layout="row">
        <md-input-container flex>
          <label>Lunchbox</label>
        <md-select name="lunch_box_id" placeholder="Select Lunch Box" ng-model="vm.info.lunch_box_id"  required>
                <md-option value="{{lunchbox.lunch_box_id}}" ng-repeat="lunchbox in vm.lunchboxes">
                    {{lunchbox.lunch_box_code}}
                </md-option>
            </md-select>
            <div ng-messages="itemForm.lunch_box_id.$error" ng-show="itemForm.lunch_box_id.$touched" role="alert">
                <div ng-message="required">
                  <span>This is required.</span>
                </div>
            </div>
        </md-input-container>
    
      </div>
        
<div layout="row">
        <md-input-container flex>
          <label>Equipment (Truck No.)</label>
        <md-select name="equipment_id" placeholder="Equipments" ng-model="vm.info.equipment_id"  required>
                <md-option value="{{equipment.equipment_id}}" ng-repeat="equipment in vm.equipments">
                    {{equipment.equipment_code}} - {{equipment.equipment_name}} 
                </md-option>
            </md-select>
            <div ng-messages="itemForm.equipment_id.$error" ng-show="itemForm.equipment_id.$touched" role="alert">
                <div ng-message="required">
                  <span>This is required.</span>
                </div>
            </div>
        </md-input-container>
    
      </div>
         <div layout="row">
        <md-input-container flex>
          <label>Driver</label>
     <md-select name="employee_id" placeholder="Driver" ng-model="vm.info.employee_id"  required>
                <md-option value="{{employee.employee_id}}" ng-repeat="employee in vm.employees">
            
                     {{employee.employee_no}} - {{employee.firstname}} -  {{employee.lastname}}
                </md-option>
            </md-select>
            <div ng-messages="itemForm.employee_id.$error" ng-show="itemForm.employee_id.$touched" role="alert">
                <div ng-message="required">
                  <span>This is required.</span>
                </div>
            </div>
        </md-input-container>
      </div>
     
   
               <div layout="row" layout-align="center center">
                   <md-button class="md-raised md-accent" ng-disabled="personalForm.$invalid" ng-click="pc.saveChanges(vm.info)">Save Changes</md-button>
               </div>
            </form>
            </div>
                </md-table-container>
              
            </md-content>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>
